In [1]:
#In logistic regression, values are >1 are 1 and <1 are 0.

In [2]:
#For logistic regression, apply sigmoid function on linear regression function

In [3]:
#p=1/(1+e^-y)
#ln(p/1-p)=m*x+c

In [4]:
#This curves the graph a bit

In [5]:
#Logistic Regression can only handle binary datasets

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
dataset=pd.read_csv('Social_Network_Ads.csv')
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [28]:
dataset.isnull().any().any()

False

In [29]:
df=dataset.drop('User ID',axis=1)
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [30]:
df['Gender'].value_counts()

Female    204
Male      196
Name: Gender, dtype: int64

In [31]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df.iloc[:,0]=lb.fit_transform(df.iloc[:,0])
df

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

In [32]:
from scipy import stats
z=np.abs(stats.zscore(df))
z

array([[1.02020406, 1.78179743, 1.49004624, 0.74593581],
       [1.02020406, 0.25358736, 1.46068138, 0.74593581],
       [0.98019606, 1.11320552, 0.78528968, 0.74593581],
       ...,
       [0.98019606, 1.17910958, 1.46068138, 1.34059793],
       [1.02020406, 0.15807423, 1.07893824, 0.74593581],
       [0.98019606, 1.08359645, 0.99084367, 1.34059793]])

In [33]:
threshold=3
np.where(z>threshold)

(array([], dtype=int64), array([], dtype=int64))

In [34]:
x=df.iloc[:,0:3].values
x

array([[    1,    19, 19000],
       [    1,    35, 20000],
       [    0,    26, 43000],
       ...,
       [    0,    50, 20000],
       [    1,    36, 33000],
       [    0,    49, 36000]], dtype=int64)

In [35]:
y=df.iloc[:,-1].values
y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [16]:
#Normalization->Good practice(less variation between independent variables)

In [17]:
#Normalization using standard scalar

In [36]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)
x

array([[ 1.02020406, -1.78179743, -1.49004624],
       [ 1.02020406, -0.25358736, -1.46068138],
       [-0.98019606, -1.11320552, -0.78528968],
       ...,
       [-0.98019606,  1.17910958, -1.46068138],
       [ 1.02020406, -0.15807423, -1.07893824],
       [-0.98019606,  1.08359645, -0.99084367]])

In [37]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [38]:
x_train

array([[ 1.02020406,  1.94321462,  2.18056084],
       [-0.98019606,  2.03872775,  0.38930459],
       [-0.98019606, -1.30423178, -0.4329114 ],
       [-0.98019606, -1.11320552, -1.02020853],
       [-0.98019606,  1.94321462, -0.93211396],
       [-0.98019606,  0.41500455,  0.30121002],
       [-0.98019606,  0.22397829,  0.15438573],
       [ 1.02020406,  2.03872775,  1.76945285],
       [-0.98019606,  0.79705706, -0.84401939],
       [-0.98019606,  0.31949142, -0.28608712],
       [ 1.02020406,  0.41500455, -0.16862769],
       [-0.98019606, -0.0625611 ,  2.23929055],
       [-0.98019606, -1.39974491, -0.63846539],
       [ 1.02020406, -1.20871865, -1.07893824],
       [ 1.02020406, -1.30423178,  0.41866944],
       [-0.98019606, -1.01769239,  0.77104772],
       [ 1.02020406, -1.39974491, -0.19799255],
       [ 1.02020406,  0.98808332, -1.07893824],
       [ 1.02020406,  0.98808332,  0.59485858],
       [ 1.02020406,  0.41500455,  1.00596657],
       [-0.98019606,  0.60603081, -0.9027491 ],
       [ 1.02020406, -0.54012675,  1.47580428],
       [-0.98019606,  0.03295203, -0.57973568],
       [-0.98019606, -0.54012675,  1.91627713],
       [-0.98019606,  1.37013584, -1.43131652],
       [-0.98019606,  1.46564897,  1.00596657],
       [ 1.02020406,  0.12846516, -0.81465453],
       [ 1.02020406,  0.03295203, -0.25672226],
       [-0.98019606, -0.15807423, -0.57973568],
       [-0.98019606, -0.15807423, -0.19799255],
       [-0.98019606, -0.25358736, -1.3138571 ],
       [ 1.02020406, -0.25358736, -0.57973568],
       [ 1.02020406,  0.41500455,  0.09565602],
       [-0.98019606,  0.89257019, -0.60910054],
       [-0.98019606,  2.03872775, -1.19639767],
       [ 1.02020406,  1.08359645, -0.13926283],
       [-0.98019606,  0.70154394,  1.7988177 ],
       [-0.98019606, -0.63563988,  0.56549373],
       [-0.98019606,  0.79705706,  0.35993973],
       [-0.98019606,  0.89257019, -0.55037082],
       [ 1.02020406, -1.11320552, -1.60750566],
       [ 1.02020406,  2.13424088,  0.94723686],
       [-0.98019606,  0.03295203,  1.24088543],
       [ 1.02020406,  0.22397829,  1.09406114],
       [-0.98019606,  0.41500455, -0.49164111],
       [ 1.02020406, -0.25358736, -0.31545197],
       [ 1.02020406,  0.98808332, -0.84401939],
       [-0.98019606,  0.98808332,  1.88691227],
       [-0.98019606,  0.03295203,  1.27025028],
       [ 1.02020406, -0.82666613,  2.29802026],
       [-0.98019606, -1.11320552, -1.60750566],
       [ 1.02020406,  2.13424088, -0.81465453],
       [ 1.02020406, -1.30423178, -1.49004624],
       [ 1.02020406,  0.41500455,  2.32738512],
       [-0.98019606,  0.79705706,  0.77104772],
       [ 1.02020406, -0.92217926, -0.31545197],
       [ 1.02020406,  0.12846516,  0.77104772],
       [ 1.02020406, -0.92217926,  0.56549373],
       [ 1.02020406,  0.31949142,  0.06629116],
       [ 1.02020406,  0.70154394, -1.28449224],
       [-0.98019606, -0.44461362, -0.02180341],
       [-0.98019606, -1.6862843 ,  0.35993973],
       [ 1.02020406, -0.63563988,  0.12502088],
       [ 1.02020406,  0.41500455,  0.30121002],
       [-0.98019606, -0.25358736,  0.06629116],
       [-0.98019606, -0.44461362,  2.32738512],
       [ 1.02020406,  0.22397829,  0.03692631],
       [-0.98019606,  1.27462271,  2.23929055],
       [ 1.02020406,  0.79705706,  0.27184516],
       [ 1.02020406, -0.25358736,  0.15438573],
       [ 1.02020406,  0.03295203, -0.55037082],
       [-0.98019606, -0.15807423,  0.15438573],
       [-0.98019606, -0.0625611 ,  0.2424803 ],
       [ 1.02020406,  0.03295203, -0.25672226],
       [-0.98019606,  2.13424088,  1.123426  ],
       [-0.98019606, -1.6862843 ,  0.35993973],
       [ 1.02020406,  1.84770149,  0.12502088],
       [ 1.02020406,  0.41500455, -0.13926283],
       [ 1.02020406, -1.11320552,  0.30121002],
       [ 1.02020406,  0.79705706,  1.38770971],
       [ 1.02020406, -0.25358736, -0.25672226],
       [-0.98019606, -1.59077117, -0.05116826],
       [-0.98019606, -0.92217926, -0.75592482],
       [ 1.02020406,  0.31949142,  0.50676401],
       [-0.98019606, -0.0625611 , -1.07893824],
       [ 1.02020406, -1.01769239,  0.59485858],
       [ 1.02020406,  0.12846516, -0.81465453],
       [ 1.02020406, -0.92217926,  1.56389885],
       [-0.98019606, -0.63563988,  1.41707457],
       [ 1.02020406, -1.20871865,  0.50676401],
       [-0.98019606, -0.25358736,  0.03692631],
       [ 1.02020406, -0.0625611 ,  0.00756145],
       [ 1.02020406, -0.25358736, -0.9027491 ],
       [ 1.02020406,  0.89257019, -1.37258681],
       [-0.98019606, -0.25358736,  2.26865541],
       [-0.98019606,  0.98808332,  2.0043717 ],
       [ 1.02020406, -1.11320552,  0.47739916],
       [ 1.02020406, -1.20871865,  0.27184516],
       [-0.98019606,  1.37013584,  2.0043717 ],
       [ 1.02020406,  1.27462271, -1.37258681],
       [-0.98019606, -0.25358736, -0.28608712],
       [-0.98019606, -0.44461362,  1.27025028],
       [ 1.02020406, -0.73115301,  1.09406114],
       [ 1.02020406,  0.98808332, -1.07893824],
       [-0.98019606,  0.31949142,  0.30121002],
       [-0.98019606,  0.98808332,  0.77104772],
       [ 1.02020406, -0.63563988, -1.51941109],
       [-0.98019606, -0.63563988,  0.03692631],
       [ 1.02020406,  0.51051768,  1.74008799],
       [-0.98019606,  2.03872775,  0.18375059],
       [-0.98019606, -1.87731056, -0.75592482],
       [ 1.02020406, -0.15807423,  1.41707457],
       [-0.98019606,  0.41500455,  0.59485858],
       [-0.98019606,  0.89257019, -1.16703281],
       [-0.98019606, -1.11320552, -0.78528968],
       [ 1.02020406,  0.22397829,  0.2424803 ],
       [ 1.02020406,  0.79705706, -0.31545197],
       [-0.98019606,  2.03872775, -0.81465453],
       [-0.98019606,  0.79705706,  0.12502088],
       [ 1.02020406, -0.25358736,  0.62422344],
       [-0.98019606, -0.92217926, -0.31545197],
       [ 1.02020406,  0.22397829, -0.37418169],
       [ 1.02020406,  2.03872775,  2.15119598],
       [-0.98019606,  1.84770149, -1.28449224],
       [-0.98019606,  1.37013584, -0.93211396],
       [-0.98019606,  0.89257019,  1.27025028],
       [-0.98019606,  1.46564897,  2.15119598],
       [ 1.02020406, -0.25358736, -1.25512738],
       [-0.98019606,  1.94321462,  0.917872  ],
       [-0.98019606,  0.70154394, -0.72655996],
       [-0.98019606, -1.39974491,  0.35993973],
       [ 1.02020406,  0.79705706, -1.37258681],
       [ 1.02020406,  0.41500455, -0.13926283],
       [-0.98019606, -0.92217926,  0.41866944],
       [ 1.02020406,  0.03295203, -0.31545197],
       [-0.98019606, -1.11320552,  0.41866944],
       [-0.98019606, -0.82666613, -1.22576253],
       [-0.98019606, -0.0625611 ,  0.03692631],
       [-0.98019606, -1.49525804, -0.4329114 ],
       [-0.98019606,  0.98808332, -1.02020853],
       [ 1.02020406,  1.08359645, -1.22576253],
       [-0.98019606,  0.03295203, -0.13926283],
       [-0.98019606, -1.01769239, -1.54877595],
       [ 1.02020406,  0.79705706, -1.22576253],
       [ 1.02020406,  0.98808332,  2.09246627],
       [-0.98019606, -1.11320552, -1.54877595],
       [-0.98019606, -0.25358736,  0.80041258],
       [-0.98019606,  0.12846516, -0.31545197],
       [-0.98019606, -1.30423178, -1.25512738],
       [ 1.02020406, -0.54012675, -1.51941109],
       [ 1.02020406,  0.79705706,  0.53612887],
       [ 1.02020406, -0.25358736, -0.34481683],
       [ 1.02020406,  1.75218836, -0.28608712],
       [ 1.02020406,  0.89257019, -1.04957339],
       [-0.98019606,  0.22397829,  0.06629116],
       [ 1.02020406, -0.54012675,  0.88850715],
       [-0.98019606, -1.78179743, -1.43131652],
       [ 1.02020406, -1.20871865,  0.59485858],
       [ 1.02020406, -0.25358736,  0.53612887],
       [ 1.02020406, -0.92217926, -1.1083031 ],
       [-0.98019606,  1.17910958, -1.46068138],
       [ 1.02020406,  0.22397829, -0.31545197],
       [-0.98019606,  1.17910958, -0.75592482],
       [ 1.02020406, -0.25358736,  0.06629116],
       [-0.98019606,  0.22397829,  2.12183112],
       [-0.98019606,  0.79705706, -1.1083031 ],
       [-0.98019606,  0.12846516,  0.03692631],
       [ 1.02020406, -1.6862843 ,  0.12502088],
       [ 1.02020406, -0.82666613,  0.15438573],
       [ 1.02020406, -0.63563988,  0.18375059],
       [ 1.02020406,  0.89257019, -1.3138571 ],
       [ 1.02020406,  0.22397829, -0.25672226],
       [ 1.02020406, -0.34910049,  1.24088543],
       [-0.98019606,  0.03295203,  0.30121002],
       [-0.98019606,  0.41500455,  0.15438573],
       [-0.98019606,  0.89257019, -0.66783025],
       [-0.98019606,  0.12846516,  0.15438573],
       [ 1.02020406, -1.78179743, -1.3138571 ],
       [-0.98019606, -0.0625611 ,  0.30121002],
       [ 1.02020406, -0.15807423, -0.28608712],
       [ 1.02020406,  0.31949142, -0.52100597],
       [ 1.02020406, -0.15807423,  1.62262856],
       [-0.98019606,  0.98808332, -1.19639767],
       [-0.98019606, -0.15807423,  1.65199342],
       [-0.98019606,  1.27462271,  1.88691227],
       [-0.98019606, -1.01769239, -0.37418169],
       [ 1.02020406,  0.03295203,  0.03692631],
       [-0.98019606,  0.12846516, -0.25672226],
       [-0.98019606, -1.49525804, -1.25512738],
       [-0.98019606, -0.44461362, -0.28608712],
       [ 1.02020406,  0.98808332,  0.12502088],
       [-0.98019606,  1.94321462, -1.37258681],
       [ 1.02020406,  1.46564897,  0.06629116],
       [-0.98019606, -0.54012675,  1.38770971],
       [ 1.02020406,  1.5611621 ,  0.00756145],
       [ 1.02020406, -0.73115301,  0.30121002],
       [-0.98019606,  1.94321462,  0.74168287],
       [-0.98019606, -1.11320552, -0.52100597],
       [ 1.02020406,  0.70154394,  0.27184516],
       [ 1.02020406, -1.30423178, -0.4329114 ],
       [ 1.02020406,  0.22397829,  0.15438573],
       [-0.98019606, -0.44461362, -1.22576253],
       [-0.98019606,  0.60603081,  2.03373655],
       [ 1.02020406, -1.49525804, -1.51941109],
       [-0.98019606, -0.44461362, -0.55037082],
       [-0.98019606,  0.51051768,  1.85754742],
       [-0.98019606, -1.30423178, -1.1083031 ],
       [-0.98019606,  0.79705706, -1.40195167],
       [ 1.02020406, -0.25358736, -0.4329114 ],
       [-0.98019606,  1.5611621 ,  1.00596657],
       [-0.98019606,  0.98808332,  1.44643942],
       [ 1.02020406, -0.25358736, -0.49164111],
       [ 1.02020406, -0.0625611 ,  2.18056084],
       [-0.98019606, -1.39974491, -0.10989798],
       [-0.98019606, -0.0625611 ,  1.97500684],
       [ 1.02020406, -0.63563988, -0.34481683],
       [-0.98019606, -0.44461362, -0.84401939],
       [-0.98019606,  0.70154394, -1.40195167],
       [ 1.02020406, -0.73115301, -1.60750566],
       [ 1.02020406, -1.78179743, -1.49004624],
       [ 1.02020406,  1.08359645,  0.12502088],
       [ 1.02020406,  0.12846516,  1.53453399],
       [ 1.02020406, -0.25358736,  0.09565602],
       [ 1.02020406,  0.12846516,  0.03692631],
       [ 1.02020406, -1.30423178, -1.37258681],
       [-0.98019606,  0.31949142,  0.06629116],
       [-0.98019606, -0.82666613,  0.38930459],
       [-0.98019606,  1.5611621 , -1.28449224],
       [-0.98019606, -0.25358736, -0.75592482],
       [ 1.02020406, -0.0625611 ,  0.15438573],
       [-0.98019606, -0.82666613, -0.66783025],
       [-0.98019606, -0.63563988, -0.05116826],
       [ 1.02020406,  0.41500455, -0.46227625],
       [ 1.02020406, -0.73115301,  1.91627713],
       [-0.98019606,  1.37013584,  1.29961514],
       [-0.98019606,  1.17910958, -0.99084367],
       [ 1.02020406,  1.75218836,  1.85754742],
       [ 1.02020406, -0.82666613, -0.25672226],
       [ 1.02020406, -0.73115301,  0.56549373],
       [ 1.02020406, -1.11320552, -1.5781408 ],
       [ 1.02020406, -0.44461362, -1.13766796],
       [-0.98019606,  0.31949142,  0.06629116],
       [ 1.02020406, -0.15807423, -1.07893824],
       [-0.98019606,  1.65667523,  1.62262856],
       [-0.98019606,  0.98808332,  1.7988177 ],
       [-0.98019606,  0.31949142,  0.03692631],
       [-0.98019606, -0.73115301, -0.2273574 ],
       [ 1.02020406, -0.0625611 ,  0.06629116],
       [-0.98019606,  0.31949142, -0.19799255],
       [-0.98019606,  1.94321462, -0.66783025],
       [-0.98019606, -0.73115301,  1.35834485],
       [ 1.02020406, -1.6862843 , -0.60910054],
       [ 1.02020406, -0.0625611 ,  0.12502088],
       [ 1.02020406,  0.31949142, -0.31545197],
       [ 1.02020406,  1.08359645,  0.56549373],
       [ 1.02020406, -0.92217926,  0.27184516],
       [-0.98019606,  1.46564897,  0.35993973],
       [ 1.02020406,  0.22397829, -0.37418169],
       [ 1.02020406,  2.13424088, -1.04957339],
       [ 1.02020406, -0.25358736,  1.123426  ],
       [ 1.02020406, -1.59077117,  0.06629116],
       [ 1.02020406,  0.03295203,  0.03692631],
       [ 1.02020406,  0.12846516,  1.06469629],
       [-0.98019606, -0.0625611 , -0.37418169],
       [-0.98019606, -1.11320552,  0.06629116],
       [-0.98019606, -0.25358736, -1.37258681],
       [-0.98019606,  1.5611621 ,  1.123426  ],
       [ 1.02020406, -0.73115301, -1.54877595],
       [ 1.02020406,  0.12846516,  1.88691227],
       [ 1.02020406, -0.82666613, -0.78528968],
       [ 1.02020406, -0.44461362, -0.78528968],
       [ 1.02020406, -0.25358736, -0.93211396],
       [ 1.02020406,  0.31949142, -0.72655996],
       [-0.98019606,  0.31949142,  0.06629116],
       [-0.98019606,  0.12846516,  1.88691227],
       [-0.98019606, -1.01769239,  1.97500684],
       [-0.98019606, -1.59077117, -1.5781408 ],
       [ 1.02020406, -1.11320552, -1.1083031 ],
       [ 1.02020406, -0.63563988, -0.10989798],
       [-0.98019606,  0.12846516,  0.09565602],
       [ 1.02020406,  0.31949142,  0.27184516],
       [-0.98019606,  0.89257019, -0.57973568],
       [-0.98019606,  0.31949142, -1.16703281],
       [-0.98019606, -0.0625611 ,  0.68295315],
       [-0.98019606,  2.13424088, -0.69719511],
       [ 1.02020406, -1.20871865, -1.40195167],
       [-0.98019606, -0.92217926, -0.96147882],
       [-0.98019606,  0.03295203, -0.4329114 ],
       [-0.98019606, -0.15807423, -0.46227625],
       [-0.98019606, -1.6862843 , -0.99084367],
       [-0.98019606,  1.75218836,  1.00596657],
       [ 1.02020406,  0.22397829, -0.37418169],
       [-0.98019606,  0.41500455,  1.123426  ],
       [-0.98019606, -1.6862843 , -1.37258681],
       [ 1.02020406,  0.22397829, -0.13926283],
       [ 1.02020406,  0.89257019, -1.46068138],
       [-0.98019606, -1.87731056,  0.47739916],
       [ 1.02020406, -0.25358736,  0.27184516],
       [-0.98019606,  1.84770149, -1.07893824],
       [-0.98019606, -0.34910049,  0.06629116],
       [-0.98019606,  1.08359645, -0.9027491 ],
       [-0.98019606, -1.01769239, -1.13766796],
       [ 1.02020406, -1.78179743,  0.00756145],
       [-0.98019606,  0.12846516,  0.27184516],
       [ 1.02020406, -1.11320552,  0.33057487],
       [ 1.02020406, -1.20871865,  0.30121002],
       [-0.98019606, -0.92217926,  0.4480343 ],
       [ 1.02020406,  1.65667523, -0.9027491 ],
       [-0.98019606,  1.17910958,  0.53612887],
       [ 1.02020406,  1.08359645,  0.53612887],
       [ 1.02020406,  1.37013584,  2.35674998],
       [-0.98019606, -0.25358736, -0.13926283],
       [ 1.02020406,  0.41500455, -0.46227625],
       [ 1.02020406, -0.34910049, -0.78528968],
       [ 1.02020406, -0.0625611 , -0.52100597],
       [-0.98019606,  0.98808332, -1.16703281],
       [ 1.02020406, -0.82666613, -0.78528968],
       [ 1.02020406, -0.15807423, -0.52100597],
       [-0.98019606, -1.01769239, -0.46227625],
       [-0.98019606, -1.11320552,  1.41707457]])

In [39]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV

In [41]:
rf=RandomForestClassifier()

In [42]:
n_estimators=[int(x) for x in np.linspace(50,1000,12)]
max_depth=[int(x) for x in np.linspace(5,30,6)]
min_samples_leaf=[1,2,5,10]
criterion=['entropy','gini']

In [43]:
random_grid = {'n_estimators':n_estimators,
                'max_depth':max_depth,
                'min_samples_leaf':min_samples_leaf,
                 'criterion':criterion
               }
random_grid

{'n_estimators': [50, 136, 222, 309, 395, 481, 568, 654, 740, 827, 913, 1000],
 'max_depth': [5, 10, 15, 20, 25, 30],
 'min_samples_leaf': [1, 2, 5, 10],
 'criterion': ['entropy', 'gini']}

In [47]:
rf_random= RandomizedSearchCV(estimator=rf,param_distributions=random_grid,scoring='accuracy', n_iter = 10, cv = 5,random_state=0)

In [48]:
rf_random.fit(x_train,y_train)

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(),
                   param_distributions={'criterion': ['entropy', 'gini'],
                                        'max_depth': [5, 10, 15, 20, 25, 30],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'n_estimators': [50, 136, 222, 309, 395,
                                                         481, 568, 654, 740,
                                                         827, 913, 1000]},
                   random_state=0, scoring='accuracy')

In [49]:
# https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter

In [52]:
rf_random.best_params_

{'n_estimators': 568,
 'min_samples_leaf': 5,
 'max_depth': 15,
 'criterion': 'gini'}

In [53]:
y_pred=rf_random.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1], dtype=int64)

In [54]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.95